--
-- PostgreSQL database dump
--

\restrict NpDF384d2g8WqheL1gltuIQFMOzv3NIKBuRbz2cVOhBsbydA8AWGVvDoJom2Nkc

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.classes (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    grade character varying(255) NOT NULL,
    major_id uuid NOT NULL,
    class_group character varying(10) NOT NULL,
    academic_year character varying(10) DEFAULT '2025/2026'::character varying NOT NULL,
    nama_kelas character varying(255),
    kapasitas integer DEFAULT 36 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.classes OWNER TO laravel;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.schedules (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    teacher_id uuid,
    subject character varying(100) NOT NULL,
    grade character varying(255) NOT NULL,
    major character varying(255) NOT NULL,
    class_group character varying(255) NOT NULL,
    class_id uuid,
    day character varying(255) NOT NULL,
    start_time time(0) without time zone NOT NULL,
    end_time time(0) without time zone NOT NULL,
    room character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.schedules OWNER TO laravel;

--
-- Name: schools; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.schools (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    npsn character varying(255),
    nss character varying(255),
    level character varying(255),
    status character varying(255),
    accreditation character varying(255),
    address text,
    village character varying(255),
    district character varying(255),
    city character varying(255),
    province character varying(255),
    postal_code character varying(255),
    phone character varying(255),
    email character varying(255),
    website character varying(255),
    logo character varying(255),
    principal_name character varying(255),
    principal_nip text,
    vision text,
    mission text,
    motto character varying(255),
    bank_name character varying(255),
    bank_account_number text,
    bank_account_name text,
    subscription_plan character varying(255) DEFAULT 'trial'::character varying NOT NULL,
    subscription_until date,
    max_users integer DEFAULT 100 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    onboarded_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.schools OWNER TO laravel;

--
-- Name: staff; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.staff (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    user_id uuid NOT NULL,
    full_name character varying(255) NOT NULL,
    nip_hash character varying(64),
    email character varying(255),
    gender character varying(255),
    "position" character varying(255),
    joined_date date,
    photo character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.staff OWNER TO laravel;

--
-- Name: students; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.students (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    user_id uuid NOT NULL,
    nis_hash character varying(64),
    nisn_hash character varying(64),
    full_name character varying(255) NOT NULL,
    email character varying(255),
    gender character varying(255),
    grade character varying(255),
    major_id uuid,
    class_group character varying(255),
    class_id uuid,
    joined_date date,
    status character varying(255) DEFAULT 'aktif'::character varying NOT NULL,
    photo character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.students OWNER TO laravel;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: laravel
--

CREATE TABLE public.teachers (
    id uuid NOT NULL,
    school_id uuid NOT NULL,
    user_id uuid NOT NULL,
    nip_hash character varying(64),
    nuptk_hash character varying(64),
    full_name character varying(255) NOT NULL,
    email character varying(255),
    gender character varying(255),
    last_education character varying(255) DEFAULT 'S1'::character varying NOT NULL,
    education_major character varying(255),
    employment_status character varying(255),
    joined_date date,
    major_id uuid,
    is_homeroom boolean DEFAULT false NOT NULL,
    photo character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.teachers OWNER TO laravel;

--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: classes classes_school_id_grade_major_id_class_group_academic_year_uniq; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_school_id_grade_major_id_class_group_academic_year_uniq UNIQUE (school_id, grade, major_id, class_group, academic_year);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: schools schools_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT schools_pkey PRIMARY KEY (id);


--
-- Name: schools schools_slug_unique; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schools
    ADD CONSTRAINT schools_slug_unique UNIQUE (slug);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: staff_nip_hash_index; Type: INDEX; Schema: public; Owner: laravel
--

CREATE INDEX staff_nip_hash_index ON public.staff USING btree (nip_hash);


--
-- Name: students_nis_hash_index; Type: INDEX; Schema: public; Owner: laravel
--

CREATE INDEX students_nis_hash_index ON public.students USING btree (nis_hash);


--
-- Name: students_nisn_hash_index; Type: INDEX; Schema: public; Owner: laravel
--

CREATE INDEX students_nisn_hash_index ON public.students USING btree (nisn_hash);


--
-- Name: teachers_nip_hash_index; Type: INDEX; Schema: public; Owner: laravel
--

CREATE INDEX teachers_nip_hash_index ON public.teachers USING btree (nip_hash);


--
-- Name: teachers_nuptk_hash_index; Type: INDEX; Schema: public; Owner: laravel
--

CREATE INDEX teachers_nuptk_hash_index ON public.teachers USING btree (nuptk_hash);


--
-- Name: classes classes_major_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_major_id_foreign FOREIGN KEY (major_id) REFERENCES public.majors(id) ON DELETE CASCADE;


--
-- Name: classes classes_school_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_school_id_foreign FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_class_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_class_id_foreign FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE SET NULL;


--
-- Name: schedules schedules_school_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_school_id_foreign FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_teacher_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_teacher_id_foreign FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: staff staff_school_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_school_id_foreign FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: staff staff_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: students students_class_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_class_id_foreign FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE SET NULL;


--
-- Name: students students_major_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_major_id_foreign FOREIGN KEY (major_id) REFERENCES public.majors(id) ON DELETE SET NULL;


--
-- Name: students students_school_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_school_id_foreign FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: students students_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_major_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_major_id_foreign FOREIGN KEY (major_id) REFERENCES public.majors(id) ON DELETE SET NULL;


--
-- Name: teachers teachers_school_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_school_id_foreign FOREIGN KEY (school_id) REFERENCES public.schools(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: laravel
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict NpDF384d2g8WqheL1gltuIQFMOzv3NIKBuRbz2cVOhBsbydA8AWGVvDoJom2Nkc

